*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background:#F7C3D1;
}
.box{
    height: 420px;
    width: 600px;
    margin: 0 auto; 
    position: relative;
}
.head{
    width: 33.33%;
    height: 40%;
    position: absolute;
    left: 33.33%;
    top: 35%;
    background:#F6E8E6;
    border-radius: 50%;
}
.ear-left{
    position: absolute;
    width: 33.33%;
    height: 80%;
    left: 10%;
    bottom: 80%;
    background: #F6E8E6;
    border-radius: 50% 50% 0 0;
    animation: moveLeft 2s infinite;
}
.ear-right{
    position: absolute;
    width: 33.33%;
    height: 80%;
    right: 10%;
    bottom: 80%;
    background: #F6E8E6;
    border-radius: 50% 50% 0 0;
    animation: moveRight 2s infinite;
}
.inner-ear{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    bottom: 15%;
    background: #FDDDE2;
    border-radius: 50% 50% 10% 10%;
}
.eye-left{
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(25% - 10px);
    background: #818181;
    border-radius: 50%;
    z-index: 1;
}
.eye-right{
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    right: calc(25% - 10px);
    background: #818181;
    border-radius: 50%;
    z-index: 1;
}
.pupil{
    position: absolute;
    width: 43%;
    height: 43%;
    left: 20%;
    top: 15%;
    background: #FFFFFF;
    border-radius: 50%;
}
.nose{
    position: absolute;
    width: 16px;
    height: 10px;
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: calc(33% - 5px);
    background: #818181;
}
.line{
    position: absolute;
    height: 200%;
    border-left: 4px solid #818181;
    top: 20%;
    left: calc(50% - 2px);
    border-radius: 20%;
}
.blush-left{
    position: absolute;
    width: 15%;
    height: 14%;
    border-radius: 50%;
    background: #FDDDE2;
    top: 54%;
    left: 15%;
}
.blush-right{
    position: absolute;
    width: 15%;
    height: 14%;
    border-radius: 50%;
    background: #FDDDE2;
    top: 54%;
    right: 15%;
}
@keyframes moveLeft{
    0%{
        transform: rotate(-20deg);
        transform-origin: bottom left;
    }
    50%{
        transform: rotate(-25deg);
        transform-origin: bottom;
    }
    100%{
        transform: rotate(-20deg);
        transform-origin: bottom left;
    }
}
@keyframes moveRight{
    0%{
        transform: rotate(20deg);
        transform-origin: bottom right;
    }
    50%{
        transform: rotate(25deg);
        transform-origin: bottom;
    }
    100%{
        transform: rotate(20deg);
        transform-origin: bottom right;
    }
}